/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-ff);
  color: var(--primary-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

// .stop-scroll {
//   overflow: hidden;
// }

.container {
  max-width: calc(var(--main-container) + 2 * var(--padding-container));
  padding: 0 var(--padding-container);

  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}