.blog {
  padding: var(--section-padding) 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto));
    grid-template-rows: minmax(502px, auto);
    grid-auto-rows: minmax(502px, auto);
    gap: 30px;
    margin-top: 70px;
  }
  &__item {
    height: 100%;
  }
}

// Media
@media (max-width: 991.98px) { 
  .blog {

    &__list {
      grid-template-columns: repeat(2, minmax(300px, 362px));
    } 
  }
}

@media (max-width: 767.98px) { 
  .blog {

    &__list {
      grid-template-columns: repeat(1, minmax(300px, 362px));
    } 
  }
}
