.blog-post {
  display: flex;
  flex-direction: column;
  height: 100%;

  box-shadow: 0px 4px 8px rgba(4, 5, 34, 0.05);
  border-radius: 0px 0px 10px 10px;

  &:hover {
    box-shadow: none;
  }

  &__img {
    height: 287px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
  }
  &__description {
    flex: 1 1 auto;
    padding: 0 25px;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
  }
  &__text {
    margin-bottom: 20px;
    color: rgba(4, 5, 34, .7);
  }
  &__bottom {
    @include flex-c-sb;

    font-weight: 500;
    padding: 0 25px;
    padding-bottom: 25px;
  }
  &__bottom-see {
    color: var(--secondary-color);
    transition: all .3s ease-in;

    &:hover {
      text-decoration: underline;
    }
  }
}