.brand {
  padding: var(--section-padding) 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 144px;
  }

  &__link-all {
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    @include flex-c-sb-wrap;

    column-gap: 130px;
    row-gap: 40px;
  }

  &__item {
    max-width: 200px;
  }

  &__img {
    width: 100%;
  }
}