.description {

  &__title {
    margin-bottom: 20px;
  }
  &__text {
    text-align: center;

    &--min {
      max-width: 664px;
      margin: 0 auto;
    }
    &--small {
      max-width: 380px;
      text-align: right;
    }
  }

  &--flex {
    @include flex-c-sb-wrap;

    gap: 40px;
  }
}

// Title
.title {
  text-align: center;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;

  &--left {
    text-align: left;
  }
}