.footer {
  background-color: var(--primary-color);
  color: var(--light-color);

  padding: 70px 0;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__socials {
    max-width: 260px;

    &-text {
      color: var(--light-color-opacity);

      margin-bottom: 25px;
    }
  }
}