.form-search {
  position: relative;

  &__img,
  &__basket {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  &__img {
    left: 7%;
  }

  &__basket {
    width: 16px;
    right: 7%;

    &::before {
      background-color: rgba(255, 132, 63, .1);
    
      position: absolute;
      content: '';
      width: 1px;
      height: 36px;
      left: -100%;
      top: -11px;  
    }
    
    &::after {
      @include flex-center;
    
      --size: 13px;
      width: var(--size);
      height: var(--size);
      border-radius: var(--size);
      
      border: 1px solid var(--light-color);
    
      font-family: var(--main-ff);
      color: var(--light-color);
      background-color: var(--succes-color);
      
      position: absolute;
      content: '2';
      top: -50%;
      right: -50%;
    
      font-size: 8px;
    }
  }

  &__img svg,
  &__basket svg {
    width: 100%; 
  }

  &__input {
    font-family: var(--main-ff);
    color: var(--primary-color);
  
    border: none;
    border-radius: 70px;
    padding: 12px 57px 12px 44px;
    outline: none;
  
    &::placeholder {
      font-family: var(--main-ff);
      color: rgba(4, 5, 34, .7);
    }
    
    &:focus {
      outline: .5px solid var(--primary-color);
    }
  }
}

// Media
@media (max-width: 575.98px) { 
  .form-search {

    &__input {
      padding: 12px 20px 12px 34px;
      width: 140px;
    }

    &__basket {
      display: none;
    }
  }
}