.list {
  max-width: 200px;

  &__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;
  }

  &__body {
    color: var(--light-color-opacity);
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    color: var(--light-color-opacity);
  }
}