.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  &__img,
  &__text {
    fill: #171fe5;
  }

  &__img--light,
  &__text--light {
    fill: #fff;
  }
}

// Media
@media (max-width: 575.98px) { 
  .logo {

    &__text {
      display: none;
    }
  }
}