.nav {
  font-family: var(--secondary-ff);

  &__body {
    @include flex-c-sb-wrap;
  
    column-gap: 40px;
    row-gap: 5px;
  }
  
  &__item {
    transition: color .3s;
  
    &:hover {
      color: var(--hover-color);
    }
    
    &:active {
      color: darken($color: #171fe5, $amount: 10);
    }
  }
}

// Media
@media (max-width: 991.98px) { 
  .nav {

    &__body {
      display: none;
    }
  }
}
