.selling {

  &__slider {
    margin-top: 70px;
  }
}

// slider-selling
.slider-selling {

  &__wrapper {
    @include flex-c-sb-wrap;

  }
  &__item {
    height: 500px;
  }
  &__img {
    max-width: 228px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Media
@media (max-width: 575.98px) {
  .slider-selling {

    &__item {
      margin: 0 auto;;
    }
  }
}

